package ${package}.${moduleName}.${pathName}.dto;


import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;

/**
 * 对应表格上方的表单组件的字段信息
 */

@Data
@ApiModel(value = "${moduleName}_${classname}-list-req")
public class ${className}ListReqDTO {

    #foreach ($entry in $componentConfig.entrySet())

        #if($entry.getKey() == "formAboveTableConfigs")
            #set($curComponentConfigs = $entry.getValue())
            #foreach($curConfig in $curComponentConfigs)

    @ApiModelProperty(value = $curConfig.getComments())
    private $curConfig.getAttrType() $curConfig.getAttrname();
            #end
        #end
    #end

}
